.jokeitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-top: solid rgb(241, 241, 241) 0.2px;
  border-bottom: solid rgb(241, 241, 241) 0.2px;
  padding: 10px 0;

  &__button {
    display: flex;
    align-items: center;
  }

  &__joke {
    color: #78909c;
    font-size: 1rem;
    width: 70%;
    margin: 0;
    text-align: left;
  }
}

.smiley {
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
  font-size: 55px;
  border-radius: 50%;
  border-style: none;
}

.orange {
  color: orange;
}
.-one {
  color: #69b049;
}
.-two {
  color: #a6b6c4;
}
.-three {
  color: #5b5b5b;
}
.-four {
  color: red;
}
