.jokeitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-top: solid rgb(241, 241, 241) 0.2px;
  border-bottom: solid rgb(241, 241, 241) 0.2px;
  padding: 10px 0;

  &__button {
    display: flex;
    align-items: center;
  }

  &__joke {
    color: #78909c;
    font-size: 1rem;
    width: 70%;
    margin: 0;
    text-align: left;
  }
}
