.jokeList {
  display: flex;
  height: 75%;

  &__right {
    flex-direction: column;
    background: white;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 20px;
    height: 95%;
    align-self: center;
    width: 90%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  }
}
